/*********************************** Filename: default.css
 * Applies to: index.html
 *             manage_list.html
 *             register.html
 *
 * Usage: Default styling for most of the pages for the bucket list web site.
 *
 * Note: reset.css is also being used by the q3.html files in order to wipe settings
 *
 * Created by: Group 10 for COIS-3420H Project
 ******************************************************************************
 */

 /* USED VARIABLES */
 :root {
   --link-color: #8fcf69;
   --linkhover-color: #818181;
   --text-color: #000;
 }
 /*------------------------------------------------------------------------------
|       FORMATTING FOR DOCUMENT WHICH IS INHERITED BY EVERY ELEMENT
|-----------------------------------------------------------------------------*/
body {
  background-color: #9bc3ed;
  color: var(--text-color);
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
}

main{
  background-color: #FFF;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  max-width: 70rem;
  font-size: 1em;
  padding: 0 0 0.6em 0;
  margin: auto;
}

header{
  text-align: center;
  background: linear-gradient(var(--link-color), transparent);
}

main header{
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em 0 0 0;
}

footer{
  text-align: center;
  border-top: 1px solid #000;
  padding: 1em 0;
  margin-top: 1em;
}

article {
  /* border: 2px solid yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

section {
 /* border: 2px solid red; */
 padding-bottom: 3rem;
}

p,h1,h2,h3,h4,h5 {
  padding: 0.5rem;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid var(--link-color);
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.15em;
}

/* button[type="submit"]{
    margin: 0 auto;
} */

form {
  border: 0.1em solid #818181;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em #000;
  margin: 1em auto;
  padding: 1em;
  width: 75%;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

button, nav a, .dropdown, #login a {
  padding: 0.3rem 1rem;
  color: var(--text-color);
  margin: 0.5rem auto;
  background-color: var(--link-color);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  background-color: var(--linkhover-color);
}

input {
  /* border: none; */
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

/*------------------------------------------------------------------------------
|                               NAVIGATION BAR
|-----------------------------------------------------------------------------*/
nav {
  background-color: #333;
}

nav > ul {
  max-width: 70rem;
  display: flex;
  align-items: center;
  color: #FFF;
  margin: 0 auto;
}

/* list items of navigaion bar */
nav li, nav form {
  display: flex;
}

#search-container {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

/* Search bar (2nd last child in list) */
nav > ul > li:nth-last-child(2) {
  margin-left: auto;
}

nav a, .dropdown, #login a {
  text-decoration: none;
  margin: 0.2rem 0.7rem;
}

nav a:hover, .dropdown:hover, #search-btn:hover {
  background-color: var(--linkhover-color);
}

a[href^="index"] {
  padding: 0 0.5em;
  background-color: inherit;
  color: inherit;

}

input[name$="search"] {
  border: none;
  padding: 0;
}

/*------------------------------------------------------------------------------
|                               DROP DOWN
|-----------------------------------------------------------------------------*/

.dropdown {
  /* border: 2px solid blue; */
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown a {
  margin: 0.4rem 0.2rem;
}

/* DROP DOWN BOXES (APPEARS AFTER NAV BUTTON IS HOVERED OVER) */
.dropdown-content {
  /* border: 2px solid yellow; */
  background-color: #F9F9F9;
  box-shadow: 0rem 0.5rem 1rem 0rem #000;
  display: none;
  min-width: 20rem;
  position: absolute;
  top: 1.5rem;
  left: -2em;
  z-index: 1;
  border-radius: 0.5rem;
}

/* HOVERING OVER NAV LIST */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* LINKS IN DROP DOWN BOXES */
.dropdown-content a {
  /* border: 1px solid black; */
  color: var(--text-color);
  float: none;
  padding: 0.75rem 1rem;
  text-align: left;
  text-decoration: none;
  flex-grow:1;
}

/* HOVERING OVER LINKS IN DROP DOWN BOXES */
.dropdown-content a:hover {
  background-color: var(--linkhover-color);
}

/*------------------------------------------------------------------------------
|                               MODAL STYLING
|-----------------------------------------------------------------------------*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  max-width: 40em;
  margin: auto;
  border: 1px solid #888;
  text-align: center;
}

.modal-body div {
  /* border: 2px solid red; */
  margin: 1em auto;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.2rem 1rem;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 0.2rem 1rem;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  padding: 0.2rem 1rem;
  background-color: #5cb85c;
  color: white;
}



/*------------------------------------------------------------------------------
|                               OTHER CSS STYLING
|-----------------------------------------------------------------------------*/
.logo {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}



/*------------------------------------------------------------------------------
|                               FORM STYLING
|-----------------------------------------------------------------------------*/
form div{
  margin: 0.5em auto;
  padding: 0.3em 0;
}

fieldset li{
  border-bottom: 0.1em solid #818181;
  display: flex;
  margin: 1em;
  padding: 0.3em 0;
}


/*------------------------------------------------------------------------------
|                               LOGIN STYLING
|-----------------------------------------------------------------------------*/
#login a:hover {
  background-color: var(--linkhover-color);
}

.login-methods {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  /* margin: 0.5rem auto; */
}

.manual-login {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
}

.manual-login > input {
  margin: 0.5em auto;
}



/*------------------------------------------------------------------------------
|                               MOBILE STYLING
|-----------------------------------------------------------------------------*/
