/*------------------------------------------------------------------------------
|       FORMATTING FOR DOCUMENT WHICH IS INHERITED BY EVERY ELEMENT
|-----------------------------------------------------------------------------*/
body {
  background-color: #FFF;                     /* SETS BACKGROUND COLOUR TO WHITE */
  color: #000;                                /* SETS FONT COLOUR TO BLACK */
  font-family: Verdana, Helvetica, sans-serif;  /* SETS THE FONT FOR THE PAGE */
  font-size: 16px;                              /* SETS FONT SIZE FOR THE PAGE */
  margin: 2.5% 5% 0 5%;                       /* SETS MARGINS FOR THE PAGE */
}

/*------------------------------------------------------------------------------
|                               NAVIGATION BAR
|-----------------------------------------------------------------------------*/
.navbar {
  background-color: #333;                     /* SETS BACKGROUND COLOUR TO #333 */
  display: flex;                                /* SETS THE DISPLAY TO BE A FLEXBOX */
  flex-wrap: nowrap;                            /* SETS THE FLEX BOX TO NOT WRAP */
  justify-content: space-between;               /* SPACE BETWEEN FLEX ITEMS */
  overflow: hidden;                             /* HIDES OVERFLOW */
}

/* NAVBAR LINKS */
.navbar a {
  color: #FFF;                                /* SETS THE FONT COLOUR TO WHITE */
  float: left;                                  /* FLOATS ITEMS TO THE LEFT */
  font-size: 1rem;                              /* SETS FONT TO  THE DEFAULT SIZE */
  padding: 0.8rem 1rem;                         /* GIVES PADDING BETWEEN ITEMS */ 
  text-align: center;                           /* ALIGN TEXT TO THE CENTER */
  text-decoration: none;                        /* REMOVES TEXT DECORATIONS  */
}

/* HOVER FOR NAVBAR AND DROPDOWN */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #818181;                  /* SETS BACKGROUND COLOUR TO #818181 */
  cursor: pointer;
}

/*------------------------------------------------------------------------------
|                               DROP DOWN
|-----------------------------------------------------------------------------*/
.dropdown {
  float: left;                                  /* FLOATS ITEMS TO THE LEFT */
  overflow: hidden;                             /* HIDES OVERFLOW */
}

/* DROP DOWN BUTTON (SEEN ON NAV BAR) */
.dropdown .dropbtn {
  background-color: inherit;                    /* SETS BACKGROUND COLOUR TO INHERIT FROM PARENT */
  border: none;                                 /* REMOVE BORDER */
  color: #FFF;                                /* SET FONT COLOUR TO WHITE */
  font-family: inherit;                         /* SETS FONT TO INHERIT FROM PARENT */  
  font-size: 1rem;                              /* SETS FONT SIZE TO DEFAULT */
  margin: 0;                                    /* REMOVES MARGINS */
  outline: none;                                /* REMOVES OUTLINE */
  padding: 0.8rem 1rem;                         /* SETS PADDING */
}

/* DROP DOWN BOXES (APPEARS AFTER NAV BUTTON IS HOVERED OVER) */
.dropdown-content {
  background-color: #F9F9F9;                  /* SETS BACKGROUND COLOUR TO #F9F9F9 */
  box-shadow: 0rem 0.5rem 1rem 0rem #000;     /* SETS BOX SHADOW EFFECTS */
  display: none;                                /* REMOVES FLEX BOX DISPLAY */
  min-width: 10rem;                             /* SETS THE MINIMUM WIDTH FOR EACH DROPDOWN ITEM */
  position: absolute;                           /* SETS AN ABSOLUTE POSITION */
  z-index: 1;                                   /* SETS THE INDEX OF THE FIRST BOX TO 1 */
}

/* LINKS IN DROP DOWN BOXES */
.dropdown-content a {
  color: #000;                                /* SETS FONT COLOUR TO BLACK */
  display: block;                               /* SETS A BLOCK STYLE DISPLAY */
  float: none;                                  /* REMOVES THE FLOAT FROM PARENT */
  padding: 0.75rem 1rem;                        /* INSERTS PADDING */
  text-align: left;                             /* ALIGNS TEXT TO THE LEFT SIDE */
  text-decoration: none;                        /* REMOVES TEXT DECORATION */
}

/* HOVERING OVER LINKS IN DROP DOWN BOXES */
.dropdown-content a:hover {
  background-color: #DDD;                     /* SETS BACKGROUND COLOUR TO #DDD */
}

/* HOVERING OVER NAV BAR BUTTON */
.dropdown:hover .dropdown-content {
  display: block;                               /* SETS A BLOCK STYLE DISPLAY */
}


/*------------------------------------------------------------------------------
|                               MAIN PAGE STYLING
|-----------------------------------------------------------------------------*/
main{
  font-size: 1em;                               /* FONT SIZE FOR MAIN SECTION */
  padding: 1em 0.6em;                           /* PADDING FOR MAIN SECTION --> TOP/BOTTOM LEFT/RIGHT */
}

/* HEADERS */
header{
  text-align: center;                           /* TEXT ALIGNMENT FOR HEADER */
}

/* FOOTERS */
footer{
  text-align: center;                           /* TEXT ALIGNMENT FOR FOOTER */
  border-top: 0.1em solid #000;               /* TOP BORDER STYLING */
  margin-top: 1em;                              /* TOP MARGIN FOR FOOTER */
}

/*------------------------------------------------------------------------------
|                               FORM STYLING
|-----------------------------------------------------------------------------*/
form{
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  padding: 1rem;
}

form div{
  margin: 0.5rem 0;
}

#submit{
  background-color: #333;
  border-radius: 0.3rem;
  color: #FFF;
  padding: 0.5rem;
}

#submit:hover{
  background-color: #818181;
  color: #FFF;
  cursor: pointer;
}

#description{
  height: 7rem;
  width: 20rem;
  text-align: left;
  overflow: auto;
}