/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  max-width: 40em;
  margin: auto;
  border: 1px solid #888;
}

.login-methods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem auto;
}

.modal-body div {
  /* border: 2px solid red; */
  margin: 1em auto;
}

.manual-login {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
}

.manual-login > input {
  margin: 0.5em auto;
}

input[value="Login"]:hover {
  cursor: pointer;
}

#forgot-pass > a {
  background-color: inherit;
  border: none;
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}

#forgot-pass > a:hover {
  color: blue;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}