main{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
}

main header{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0 0 0;
}

form fieldset{
    background-color: #FFF;
    border: 0.1em solid #818181;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em #000;
    margin: 1em auto;
    padding: 1em;
    width: 50em;
}

form fieldset div{
    border-bottom: 0.1em solid #818181;
    display: flex;
    margin: 1em;
    padding: 0.3em 0;
}

form fieldset div button{
    justify-self: flex-end;
    margin: 0 0 0 auto;
}

h2{
    border-bottom: none;
}