main{
    display: flex;
    flex-direction: column;
}

main header{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0 0 0;
}

#register-form {
    background-color: #FFF;
    border: 0.1em solid #818181;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em #000;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 1em;
    width: 50em;
}

#register-form div{
    margin: 0.5em;
    padding: 0.3em 0;
}

h2{
    border-bottom: none;
}

#submit{
    margin: 0 auto;
}